@use "inc/setting" as inc_set;
@use "inc/reset" as inc_re;
@use "inc/font";
@use "inc/anime";
@use "inc/header";
@use "inc/footer";

// html,body,a{
//   cursor: url(../img/cursor_02.png),auto;
// }
html{
  scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
  color: #3d3a44;
  background-image: url(../img/bg_koushi.png);
  background-repeat: repeat;
  #loading{
    background-color: #ff0000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: fixed;
    color: #fff;
    z-index: 1000;
    &.completed {
      opacity: 0; visibility: hidden;
     }
  }
  .load_01{
    animation-name: fade_01;
    animation-duration: 1s;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
  }
  @keyframes fade_01{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .load_logo{
    animation-name: fade_02;
    animation-duration: 2s;
    position: fixed;
    width: 30%;
    top: 45%;
    left: 35%;
  }
  .load_02{
    animation-name: fade_02;
    animation-duration: 1s;
    animation-delay: 0s;
    width: 30%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  @keyframes fade_02{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
  header{
    height: 100px;
      .top_header{
        .top_btn{
          background-color: #ff0000;
          height: 100px;
          width: 100%;
          position: relative;
          img{
            width: 20%;
            position: absolute;
            top: 30%;
            left: 5%;
          }
        }
        .header_logo{
        position: absolute;
        display: block;
        width: 100%;
        height: 75px;
        z-index: 10;
        top: 0;
        background: #fff;
        border: 2px solid #000;
        transition: .1s;
        img{
          width: 30%;
          margin: 10px 0 0 30px;
        }
        &:hover{
          opacity: .7;
        }
      }
      }
    }
  main{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    .main_wrap{
      .news{
        margin: 0 auto;
        .top_logo{
          width: 30%;
          margin: 100px auto 0 auto;
        }
        .news_container{
          background: #fff;
          border: 2px solid #3d3a44;
          box-shadow: 7px 7px #3d3a44;
          .news_top{
            padding: 70px 100px 0 100px;
            display: flex;
            font-weight: bold;
            font-size: 18px;
            justify-content: space-between;
              .daily{
                color: #FF8B00;
              }
              .unei{
                color: #f00;
              }
              .event{
                color: #1F97FF;
              }
              .release{
                color: #CC4EEA;
              }
              .goods{
                color: #57E56E;
              }
          }
          .news_midashi{
            margin: 20px 0;
            font-size: 25px;
            font-weight: bold;
          }
          .news_main{
            width: 75%;
            margin: 50px auto 0 auto;
            padding-bottom: 70px;
            text-align: center;
            p{
              text-align: left;
              line-height: 2em;
              letter-spacing: 0.05em;
              span{
                font-weight: bold;
              }
            }
          }
          .goods_list{
            margin: 30px 0 50px 0;
            .list_inner{
              img{
                margin: 50px 0;
                width: 70%;
              }
              .ofuda{
                width: 30%;
              }
            }
          }
          .cd{
            justify-content: space-between;
            width: calc(90%/2);
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding-bottom: 70px;
            img{
              width: 50%;
            }
            p{
              text-align: left;
              span{
                font-weight: bold;
              }
              a{
                color: #ff0000;
              }
            }
          }
        }
        .back_btn{
          text-align: center;
            margin-top: 70px;
            transition: .2s;
            &:hover{
              transform: translate(5px,5px);
            }
          a{
            background-color: #fff;
            color: #ff0000;
            padding: 20px 60px;
            font-weight: bold;
            border: 2px solid #ff0000;
            box-shadow: 5px 5px #ff0000;
            transition: 0.2s;
            &:hover{
              box-shadow: none;
              border: 1px solid #ff0000;
              color: #fff;
              background-color: #ff0000;
            }
          }
        }
      }
    }
  }
  footer{
    margin-top: 150px;
    background-color: #f00;
    height: 200px;
    position: relative;
    .footer_left{
      position: absolute;
      top: 25%;
      left: 5%;
      width: 30%;
      transition: .1s;
      &:hover{
        opacity: .7;
      }
    }
    .footer_right{
      position: absolute;
      top: 50px;
      right: 10%;
      text-align: right;
      .footer_link{
        justify-content: space-between;
        transition: .1s;
        a{
          width: calc(95%/2);
          display: flex;
          justify-content: space-between;
          &:hover{
            opacity: .7;
          }
        }
      }
      .copy{
        font-size: 13px;
        color: #fff;
        margin-top: 20px;
      }
    }
  }
  footer{
    margin-top: 150px;
    background-color: #f00;
    height: 200px;
    position: relative;
    .footer_left{
      width: 30%;
      transition: .1s;
      &:hover{
        opacity: .7;
      }
    }
    .footer_right{
      position: absolute;
      top: 50px;
      right: 10%;
      text-align: right;
      .footer_link{
        display: flex;
        transition: .1s;
        a{
          img{
            height: 50px;
            width: 50px;
          }

          &:hover{
            opacity: .7;
          }
        }
      }
      .copy{
        font-size: 13px;
        color: #fff;
        margin-top: 20px;
      }
    }
  }
// ______________________________________
main{

  p{
    line-height: 1.5em;
    letter-spacing: .15em;
  }
  .ttl{
    font-size: 32px;
  }
  .lead{
    font-size: 24px;
  }
  .text{
    font-size: 16px;
  }
  .txt{
    font-size: 14px;
  }
}
// ______________________________________
@media screen and (max-width: inc_set.$media_sp){
  main{
    .ttl{
      font-size: clamp(10px, inc_set.$vw_52px, 24px);
    }
    .lead{
      font-size: clamp(10px, inc_set.$vw_42px, 20px);
    }
    .text{
      font-size: clamp(10px, inc_set.$vw_24px, 14px);
    }
    .txt{
      font-size: clamp(10px, inc_set.$vw_20px, 12px);
    }
  }
/*@media screen end*/}
// ______________________________________
// ______________________________________
// ______________________________________


// ______________________________________
@media screen and (max-width: inc_set.$media_sp){

/*@media screen end*/}
// ______________________________________
// ______________________________________
// ______________________________________
// ______________________________________
@media screen and (max-width: inc_set.$media_sp){

/*@media screen end*/}
// ______________________________________
// ______________________________________
// ______________________________________
